# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R and R Studio
    3. C++
    4. JavaScript
    5. Julia
    6. Scala
    etc.

Some of the commonly used libraries used by Data Scientists include:
    
    1. Numpy
    2. Scikit-learn
    3. Matplotlib
    4. SciPy
    5. TensorFlow
    6. Seaborn
    7. Pandas

# Data Science Tools:

1. Python
2. R
3. Apache Spark
4. Tableau
5. Power BI
5. Watson Studio

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

a = 3
b = 4
c = 5

d = (a * b) + c

print("Output is ", d)

Output is  17

In [5]:
#This will convert 200 minutes to hours by diving by 60

Minutes = 200

Hours = Minutes/60

print(Hours)

3.3333333333333335

## Author : Amlan Chatterjee